*{margin:0;
padding:0;
box-sizing:border-box;
}
/* Dropdown Button */
.dropbtn {
  background-color:#6528b4 ;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #777;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #cb76e6af;}
html {
    scroll-behavior: smooth;
  }
.logo-contioner {
  font-size: 20px;}
.email{
  color:black;
text-decoration: none;
}

h1{
  color:black;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18pt;
}
h2{
  color:black;
  text-align:center;
  font-size: 18pt;
}
h3{
  color:black;
  text-align:center;
  font-size: 18pt;
}
h4{
  color:black;
  text-align:center;
  font-size: 18pt;
}
h5{
  color:black;
  text-align:center;
  font-size: 18pt;
}
h6{
  color:black;
  text-align:center;
  font-size: 18pt;
}

.outer-contioner{
  background-color: #e9d7f5;
}

.make-up-container{
  background-color: #e9d7f5;
}
.hair-container{
  background-color: #e9d7f5;
}
.nail-contioner{
  background-color: #e9d7f5;
}

.right-section{
  width:50%;
  float:right;
  border-style: none;
  border-width: none;
}
.left-section4{
  width:50%;
  float:left;
  border-style: none;
  border-width: none;
}
.about-me-container{
  background-size: cover;
}

body{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 400;
  color:#777;
}
.header{
  color:white;
  height:100vh;
  background-image: linear-gradient(to right,#545e537a,#cb76e6af),
 url(../images/makeup.jpg);
 background-size: cover;
 background-position: center;
}
.section-heading {
    text-align: center;
    margin: 0px;
  }   

  .section-container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .scroll-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  .icon-container {
    text-align: center;
    color:black
  }
  .scroll-container-2 { 
    position: absolute;
    bottom: -740px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
  }
  
  .icon-container-4{
    text-align: center;
  }
  .icon-container-3{
    text-align: center;
  }
  .icon-container-2 {
    text-align: center;
  }
  
.heading-main {
    font-size: 60px;
    letter-spacing: 25px;
}

.heading-subsection {
    font-size: 20px;
    letter-spacing: 5px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-112%,135%);
}
.heading{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.contact-me-contioner{
    background-color: none;font-size: 20px;
    right: 20px;
    position: fixed;
    bottom: 0px;
    color:black;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}
.contact-e{background-color:none;font-size:14px;color: #777;
  left: 14px;
  position: fixed;
  bottom:0px;color :#777;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}

@media screen and (max-width: 720px){
    
    .contact-me-contioner{
        font-size: 5px;
    }
    .heading-subsection{
        font-size: 10px;
        letter-spacing: 2.5px;
        display: none;
    }
    .heading{
      display: none;
    }
    .about-me-content{background-color: #cb76e6af;
        
    }
    .make-up-container{color:rgba(189, 112, 212, 0.63);height:100vh;background-image: auto(),
      url(../images/cosmetics.jpg);background-size: cover;background-position: center;
     }
     
    
}
